{:company/legal-name "Discover Financial Services"
 :company/lei "Z1YLO2USPORE63VVUL20"
 :company/jurisdiction "United States (Delaware)"
 :company/website "https://www.discover.com"
 :company/ticker "DFS (NYSE)"
 :company/inquiry-form-url "https://www.discover.com/credit-cards/contact-us/?ICMPGN=PUB_HDR_HELP_CC"}
