{:company/legal-name "Discover Financial Services"
 :company/lei "Z1YLO2USPORE63VVUL20"
 :company/jurisdiction "United States (Delaware)"
 :company/website "https://www.discover.com"
 :company/ticker "DFS (NYSE)"}
