[["discover-site-1" :site/url "https://www.discover.com" 1 :add]
 ["discover-site-1" :site/checked-at "2026-07-18" 1 :add]
 ["discover-site-1" :site/http-status 200 1 :add]
 ["discover-site-1" :site/title "Discover - Personal Banking, Credit Cards &amp; Loans" 1 :add]
 ["discover-site-1" :site/description "Discover offers online banking, reward credit cards, home equity loans, and personal loans to help meet your financial needs." 1 :add]]
